.My-Section {
  margin-top: 3.7rem;
}

.NavCompo {
  background-color: #4f709c;
  position: fixed;
  width: 100%;
  top: 0;

  .MyLogo {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    align-items: center;
  }

  .MyNavMenu {
    ul {
      font-weight: 500;
      display: flex;
      flex-direction: column;
      padding: 1rem;
      margin-top: 1rem;
      border-width: 1px;
      border-radius: 0.5rem;

      @media (min-width: 768px) {
        padding: 0px;
        flex-direction: row;
        margin-right: 2rem;
        margin-left: 2rem;
        margin-top: 0px;
        border-width: 0px;
      }

      li {
        a {
          color: #fff;
          display: block;
          padding-left: 0.8rem;

          @media (max-width: 428px) {
            font-size: 1.3rem;
          }

          &:hover {
            color: aqua;
          }
        }
      }
    }
  }
}

.HeroCompo {
  font-weight: 900;

  h1 {
    font-size: 3rem;
    color: #242323;
    margin-bottom: 0.2rem;

    @media (max-width: 428px) {
      font-size: 2.5rem;
    }
  }

  h2 {
    font-size: 1.8rem;
    color: #242323;
    @media (max-width: 428px) {
      font-size: 1.6rem;
    }
  }

  h3 {
    font-weight: 700;
    color: #3b3636;
    margin-bottom: 1.5rem;
  }

  p {
    font-weight: 700;
    margin-bottom: 0.8rem;
  }
}

.CardFrame {
  display: flex;
  gap: 2rem;
  margin: auto;

  @media (max-width: 428px) {
    flex-direction: column;
  }
}

.CardCompo {
  display: flex;
  flex-direction: column;
  width: 65%;

  @media (max-width: 428px) {
    width: 100%;
  }

  h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    color: #242323;
    margin-bottom: 1rem;
  }

  p {
    font-weight: 700;
  }
}
